<!-- File: member.component.html
Author: Lehoczki Patrícia
Copyright: 2022, Lehoczki Patrícia
Group: Szoft II/N
Date: 2022-04-06
Github: https://github.com/lehoczkipatricia/member
Licenc: GNU GPL -->


<form [formGroup]="memberForm" (ngSubmit)="saveMember()">

    <div class="mb-3">
        <label for="name" class="form-label">Név</label>
        <input type="text" class="form-control" id="name" 
        formControlName="name"
        placeholder="Vezetéknév Keresztnév">
        <span *ngIf="memberForm.controls['name'].invalid && memberForm.controls['name'].touched">A név megadása kötelező!</span>
    </div>

    <div class="mb-3">
        <label for="city" class="form-label">Város</label>
        <input type="text" class="form-control" id="city" 
        formControlName="city"
        placeholder="Település neve">
        <span *ngIf="memberForm.controls['city'].invalid && memberForm.controls['city'].touched">A város megadása kötelező!</span>
    </div>

    <div class="mb-3">
        <label for="address" class="form-label">Cím</label>
        <input type="text" class="form-control" id="address" 
        formControlName="address"
        placeholder="Cím">
        <span *ngIf="memberForm.controls['address'].invalid && memberForm.controls['address'].touched">A cím megadása kötelező!</span>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="text" class="form-control" id="email" 
        formControlName="email"
        placeholder="E-mail cím">
        <span *ngIf="memberForm.controls['email'].invalid && memberForm.controls['email'].touched">Az email cím megadása kötelező!</span>
    </div>

    <div>
        <button class="btn btn-info">
            Rögzít
        </button>
    </div>

</form>