/* File: member.component.css
Author: Lehoczki Patrícia
Copyright: 2022, Lehoczki Patrícia
Group: Szoft II/N
Date: 2022-04-06
Github: https://github.com/lehoczkipatricia/member
Licenc: GNU GPL */

span {
    color: red;
    font-size: small;
}